.form {
  display: grid;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: flex-start;
  margin-bottom: 40px;
  @media (min-width: 768px) {
    grid-template-columns: 225px 253px 200px;
    grid-template-rows: 1fr 50px;
    gap: 14px;
  }
  @media (min-width: 1440px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 14px;
    height: 715px;
    margin-top: 80px;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;
  }
}
.form__range-filter {
  width: 280px;
  margin-top: 20px;
  @media (min-width: 768px) {
    width: 223px;
  }
  @media (min-width: 1440px) {
    margin-top: 15px;
    width: 320px;
  }
}

.form__range-controls {
  position: relative;
  height: 25px;
  margin-bottom: 10px;
  padding-top: 9px;
}

.form__range-controls .form__scale {
  height: 2px;
  background: var(--Alt-Light-Grey);
}

.form__range-controls .form__bar {
  width: 90%;
  height: 4px;
  background: var(--Alt-Primary-Lighter);
}

.form__range-controls .form__toggle {
  position: absolute;
  top: -3px;
  left: 0;
  width: 21px;
  height: 21px;
  padding: 0;
  border: 2px solid var( --Alt-Primary-Lighter);
  background-color: var(--Base-White);
  border-radius: 50%;
  cursor: pointer;
}

.form__range-controls:hover .form__toggle {
  background-color: var(--Base-Secondary);
  width: 21px;
  height: 21px;
  
}

.form__range-controls:active .form__toggle {
  background-color: var(--Base-Primary);
  width: 21px;
  height: 21px;
}

.form__range-controls .form__toggle-min {
  left: 0px;
}

.form__range-controls .form__toggle-max {
  left: 240px;
  @media (min-width: 768px) {
    left: 180px;
  }
  @media (min-width: 1440px) {
    left: 270px;
  }
}

.form__price-controls {
  display: flex;
  justify-content: space-between;
}

.form__min-price {
  position: relative;
}

.form__min-price::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 45%;
  right: -15%;
  width: 10px;
  height: 2px;
  background: var(--Base-Grey);
}

.form__price-controls input {
  box-sizing: border-box;
  width: 125px;
  padding: 8px 10px;
  text-align: center;
  color: var(--Base-Black);
  border: 2px solid var(--Alt-Primary-Lighter);
  border-radius: 4px;
  background: var(--Base-White);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  @media (min-width: 768px) {
    width: 98px;
  }
  @media (min-width: 1440px) {
    width: 135px;
  }
}

.form__price-controls:focus input {
  border-color: var(--Primary-Darker);
}

.form__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--Base-Black);
}

.form__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--Base-Black);
}

.form__wrapper {
  border: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  @media (min-width: 1440px) {
    margin-top: 0;
  }
}

.form__wrapper--grid-start {
  @media (min-width: 1440px) {
    grid-column-start: 1;
    margin-top: 0;
  }
}

.form__wrapper:nth-last-child(1) {
  margin-top: 10px;
}

.form__list {
  list-style: none;
}

.form__list--width {
  margin-top: 10px;
  margin-left: 15px;
}

.form__item {
  margin-bottom: 20px;
  @media (min-width: 768px) {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.form__button {
  margin-top: 10px;
  width: 280px;
  border: none;
  background: var(--Base-White);
  padding: 8px 20px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--Base-Primary);
  transition: 0.3s;
  @media (min-width: 768px) {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    width: 240px;
  }
  @media (min-width: 1440px) {
    grid-column-start: 1;
    grid-row-start: 4;
    grid-row-end: 4;
    width: 317px;
  }
}



.form__button:focus:hover {
  background: var(--Alt-Primary-Lighter);
  color: var(--Base-White);
}

.form__button:active {
  background: var(--Primary-Darker);
  color: var(--Base-White);
}

.form__button:disabled {
  background: var(--Alt-Light-Grey);
  color: var(--Base-White);
}