// root
:root {
  --Base-Black: #333333;
  --Base-Secondary: #F0EBFF;
  --Base-White: #FFFFFF;
  --Base-Primary: #7859CF;
  --Base-Grey: #BDBDBD;
  --Flat-White: #F3EBE1;
  --Lavender-Latte: #EAE6FC;
  --Espresso: #E5E6E8;
  --Light-Grey: #F8F8F8;
  --Alt-Light-Grey: #E2E2E2;
  --Alt-Primary-Lighter: #9070EC;
}
